# Gradle
.gradle/
build/
*.jar
!build/libs/*.jar

# IDE
.idea/
*.iml
.vscode/

# Minecraft dev
runs/
out/
/assets/
/META-INF/

# OS
.DS_Store
Thumbs.db

# Reference
texture_reference/


# Logs
*.log
*.hprof
